<!DOCTYPE html>
<html lang="en">
<head>
<style>

    <title>1001670678, VishnuRaju Nandyala</title>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>
Time taken for execution : {{ time }}
<body>
  <table>
        <tr> ========================= </tr> <br>


        <tr> ========================= </tr>
        <tr>
                <!--<th>Local Time</th>-->

            </tr>

            {% for k,v in result.items() %}

                <tr>
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>

                </tr>

            {% endfor %}

        </table>

    </div>

</body>
</html>